body{
	height: 10000px;
	width: 100%;
	margin: 0px;
	padding: 0px;

}
.a{
	height: 2000px;
	width: 50%;
	border: 70px ridge; white;
	top: 400px;
	left: 25%;
	position: absolute;
}
span{
	font-size: 500px;
	color: white;
	left: 300px;
	top: 100px;
	position: relative;
	font-family: fantasy;

}
p{
	font-size: 100px;
	color: white;
	top: 50px;
	left: 300px;
	position: relative;
}
.b{
	height: 2100px;
	width: 100%;
	background: hotpink;
	top: 3000px;
	position:absolute;
	font-family: fantasy;

}
.num{
	font-size: 200px;
	color: orange;
}
.development{
	font-size: 150px;
	left: 550px;
	top: 140px;
	position: absolute;
	font-family: fantasy;

}
.para{
	font-size: 80px;
	color: white;
	left: 550px;
	top: 500px;
	position: absolute;
}
.number{
	font-size: 200px;
	color: orange;
	top: 500px;
}
.Design{
	font-size: 150px;
	top: 1025px;
	left: 550px;
	position: absolute;
	font-family: fantasy;

}
.paragraph{
	font-size: 80px;
	color: white;
	left: 550px;
	position: absolute;
	top:1400px ;
}
img{
	height: 1500px;
	width: 2000px;
	left: 60%;
	top: 250px;
	position: absolute;
}
.blue{
	height: 4000px;
	width: 100%;
	background: blue;
	top: 600px;
	position: relative;
}
.each{
	font-size: 300px;
	color: white;
	font-family: fantasy;
	left: 550px;
	position: relative;
	
}
.eachcourse{
	top: 80px;
	font-size: 300px;
	color: white;
	left: 550px;
	position: absolute;
	font-family: fantasy;
	
}
.we{
	font-size: 80px;
	left: 550px;
	top: 800px;
	color: white;
	position: absolute;
}
.box{
	height: 3000px;
	width: 2000px;
	border: 50px solid white;
	left: 60%;
	top: 130px;
	position: absolute;


}
#num{
	font-size: 300px;
	color: orange;
	font-family: fantasy;
	left: 40%;
	position: absolute;
}
.sample{
	font-size: 80px;
	color: white;
	top: 22%;
	left: 37%;
	position: absolute;
}
.sam{
	font-size: 50px;
	color:white;
	top: 30%;
	left: 23%;
	position: absolute;
	font-family: monospace;
}
#number{
	font-size: 300px;
	color: orange;
	font-family: fantasy;
	left: 40%;
	top: 30%;
	position: absolute;
}
#sample{
	font-size: 80px;
	color: white;
	top: 50%;
	left: 37%;
	position: absolute;
}
#sam{
	font-size: 50px;
	color:white;
	top: 58%;
	left: 23%;
	position: absolute;
	font-family: monospace;
}
#s{
	font-size: 300px;
	color:white;
	top: 60%;
	left: 40%;
	color: orange;
	position: absolute;
	font-family: fantasy;
}
#i{
	font-size: 80px;
	color: white;
	top: 80%;
	left: 37%;
	position: absolute;
}
#v{
	font-size: 50px;
	color:white;
	top: 88%;
	left: 23%;
	position: absolute;
	font-family: monospace;
}
.br{
	height: 80px;
	width: 100%;
	top: 20%;
	position: relative;
	background: lightgray;
	outline: 70px solid white;
}
.pink{
	height: 20000px;
	width: 100%;
	background-image: url('images/32.jpg');
}
#pink{
	height: 4000px;
	width: 100%;
	
}
.b1{
	height: 20%;
	width: 20%;
	background: white;
	top: 770px;
	left: 16%;
	position: relative;
}
.b2{
	height: 20%;
	width: 20%;
	background: white;
	float:right;
	bottom: 30px;
	right: 42%;
	position: relative;
}
.b3{
	height: 20%;
	width: 20%;
	background: white;
	float: right;
	bottom: 30px;
	right: 10px;
	position: relative;
}
.b4{
	height: 20%;
	width: 20%;
	background: white;
	float: left;
	top: 820px;
	left: 16%;
	position: relative;
}
.b5{
	height: 20%;
	width: 20%;
	background: white;
	float: left;
	top: 820px;
	left: 18%;
	position: relative;
}
.b6{
	height: 20%;
	width: 20%;
	background: white;
	float: left;
	top: 820px;
	left: 20%;
	position: relative;
}
#img{
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
}
#im1{
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
}
#im2{
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
}
.pa{
	font-size: 90px;
	top: 1100px;
	left: 1400px;
	position: relative;
	font-family: fantasy;
}
.pink2{
	height: 4000px;
	width: 100%;
	background: hotpink;
}
#pink2{
	height: 500px;
	width: 100%;
	bottom: 1000px;
	position: relative;
	
}
.o{
	height: 3000px;
	width: 25%;
	left: 50px;
	bottom: 50px;
	position: relative;
	background-image: url('images/afri.jpg');
}
#afri{
	height: 100%;
	width: 100%;
	bottom: 40%;
	right: 80%;
	position: absolute;
}
.pro{
	font-size: 500px;
	color: orange;
	left: 4500px;
	bottom: 500px;
	position: absolute;
}
.pr{
	font-size: 500px;
	color: orange;
	left: 4500px;
	top: 1000px;
	position: absolute;
}
.brake{
	height: 80px;
	width: 100%;
	bottom: 3%;
	position: relative;
	background: lightgray;
	outline: 70px solid white;
}
.prog{
	font-size: 500px;
	color: orange;
	left: 4500px;
	top: 2000px;
	position: absolute;
}
.box2{
	height: 2000px;
	width: 50%;
	top: 500px;
	left: 25%;
	border: 70px ridge; white;
	position: relative;
	
}
#do{
	font-size: 300px;
	font-family: fantasy;
	left: 150px;
	top: 150px;
	position: relative;
	